APScheduler==3.6.3
cffi==1.12.3
Click==7.0
configparser==4.0.2
enum34==1.1.6
Flask==1.0.3
Flask-Cors==3.0.8
future==0.18.2
futures==3.3.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.0
numpy==1.16.4
pycparser==2.19
PySoundFile==0.9.0
pytest==4.6.11
pytz==2020.1
requests==2.22.0
six==1.13.0
sounddevice==0.3.13
urllib3==1.25.8
Werkzeug==1.0.1
zipp==1.2.0
tzlocal==2.1